.divList{
 list-style-type: none;
 display: flex;
 flex-direction: row;
 height: 50px;
 justify-content: center;
}
.divList li{
 margin: 2px;
 text-align: center;
 width: 35px;
 height:35px;
 font-size:25px;
 box-shadow: 0 0 4px black;
 border-radius:100%;
}
.divList li:hover{
 color: #ff0000;
}
.selectedPage{
 color: #ff0000;
 font-weight: bold;
}
.divList button{
 color: #ff0000;
 border-radius:100%;
 margin: 3px;
}