.statusBlock {
      height: 50px;
      padding: 5px;
      box-shadow: 0 0 4px black;
}

.statusBlock:hover {
      transition-duration: 1s;
      background-color: rgb(255, 255, 255);
      font-size: large;
}

/* ============================================== */
.profileWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      width: 300px;
      margin: 3px;
}

.logo {
      text-align: center;
      box-shadow: 0 0 3px 1px black;
      margin: 10px;
      padding: 5px;
      width: 100%;
}

.userInfo {
      width: 100%;
      padding: 5px;
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      letter-spacing: 1px;
      /*box-shadow: 0 0 3px black;*/

}

.logo img {
      width: 250px;
      height: 300px;
      box-shadow: 0 0 5px black;
      border-radius:5px;
}

.quote {
      text-align: center;
      font-size: 12px;
      box-shadow: 0 0 5px black;
      margin: 6px;
      padding: 2px;
      letter-spacing: 2px;
      width: 100%;

}

