.subscriberData{
	display: flex;
	background-color: rgba(18, 0, 32, 0.288);
	border-radius: 10px;
}
.subscriberData img{
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.425)
}
.profile{
	font-size:large ;
	font-family:Arial, Helvetica, sans-serif;
	color: #ff0015;
}
.profile li{
	margin-top: 15px;
}

.post {
	font-family: Bahnschrift, Helvetica, sans-serif;
font-weight: lighter;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 94%;
	width: 50%;
	margin-top: 1.5em;
	margin-left: 12em;
}
.post p {
	font-size: 20px;
}

.post input {
	margin-top: 10px;
	width: 500px;
	height:60px;
	border: none;
	box-shadow: 0 0 4px black;

}

.item__intro {
	font-size: 20px;
	padding-top: 10px;
}
.sendButton {
	border:0;
	transition-duration: 2s;
	width: 130px;
	height: 40px;
	margin-top: 1em;
	letter-spacing: 2px;
	color: #ff0000;
}
.sendButton:hover {
	background-color: rgb(10, 10, 10);
	color: aliceblue;
}
