
  .posts{
    width: 800px;
    padding-top: 10px;
  }
  .posts img{
    width: 60px;
    height: 60px;
    border-radius:100%;
  }
  .posts__com{
    display: flex;
    justify-content: space-around;
    background-color: rgb(254, 255, 255);
    padding: 3px;
    box-shadow: 0 0 4px black;
  }
  .posts__com span{
    padding-left:8px;
    padding-right: 4px;
    color: #ff0000;
  }
