
  .posts{
    width: 400px;
    padding-top: 10px;
  }
  .posts img{
    
    width: 60px;
    height: 60px;
    border-radius:100%;
  }
  .posts__com{
    display: flex;
    background-color: rgba(18, 0, 32, 0.288);
    border-radius: 10px;
  }
  .posts__com span{
    padding-left:8px;
    padding-right: 4px;
    color: blue;
  }
