.header img {
	height: 50px;
	padding-left: 10px;
}
.header {
	grid-area: h;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0 0 9px 2px #070000;
	margin: 3px;
}
.header{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.userBlock{
	display: flex;
	align-items: center;
	color: #ff1900;
	box-shadow: 0 0 2px black;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}
.userBlock img{
	padding-right: 15px;
	height: 40px;
}
.loginBlock button{
	color: #ff1900;
}

