.content {
	grid-area: c;
	border-radius: 10px;
	display: grid;
	grid-template-rows: 0.5fr 1fr;
	grid-template-columns: 1fr 5fr;
	height: 100vh;
	grid-template-areas:
		"main main"
		"logo user";
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0 0 9px 2px #070000;
	margin: 3px;
}

