
.App_wrapper{
  display: grid;
  grid-template-areas: 
  "h h"
  "n c ";
  grid-template-rows: 70px 1fr ;
  grid-template-columns: 200px 7fr;
  height: 100vh;
  background-color: rgba(185, 185, 185, 0);
}
.App_wrapper__content{

}









